.card-carousel {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    background: rgb(1, 50, 50);
}
.card-carousel .card {
    min-width: 300px;
    min-height: 500px;
    background: black;
}
.planets{
    margin-top: 50px;  
}
.vehicles{
    margin-top: 50px;  
}
.characters{
    margin-top: -57px;
}
.footerButtoms {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.container {
    min-width: 100px;
    min-height: 50px;
    background: black;
}
.itemContainer {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    background: #013232;
}
.row {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-around;
}
.card-body {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
}
.itemTitle {
    padding: 20px;
}
#app{
    background: rgb(1, 50, 50);
}
.bigContainer {
    background: rgb(1, 50, 50);
    padding: 30px;
}
.cardDetail{
    display: flex;
    flex-direction: row;
    color: white;
    margin: 20px;
}
.navBar {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.favorites{
    margin-left: 85%;
}
.detailColumn {
    border-left: 2px solid yellow;
    border-top: 2px solid yellow;
}
.dropdown-item{
    display: flex;
    border: none;
}
.trash{
    border: none;
}
