.card-carousel {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card-carousel .card {
    min-width: 300px;
}
.planets {
    margin-top: 50px;
}
.vehicules {
    margin-top: 50px;
}
.footerButtoms {
    display: flex;
    justify-content: space-between;
}
.container {
    min-width: 100px;
    min-height: 50px;
}